--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.0+cu118
ninja
transformers==5.2.0
datasets==2.16.1
lm-eval==0.3.0
accelerate
tensorboardX
bitsandbytes
sentencepiece
numpy==1.26.4
pandas
tqdm
rouge
jieba
tiktoken
rouge_score
seaborn
fuzzywuzzy
nvtx
wheel